/*.transactionList {
	border: 1px solid black;
	width: 90%;
	margin-left: 5%;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.transaction {
	display: flex;
	justify-content: space-between;
}

.total-balance {
	display: flex;
	justify-content: flex-end;
}

#transForm {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#transForm input[type=text] {
	width: 40px;
}
#transForm input[type=button] {
	font-size: 12px;
}

.highlight {
	background-color: blue;
}*/

#content {
	height: 100%;
	border: 1px solid black;
	padding-bottom: 15px;
}

.transaction-list {
	height: 200px;
	border: 1px solid black;
	margin-bottom: 5px;
}

.transaction-list > div {
	height: 100%;
}

.transaction-list > div:not(:last-child) {
	border-right: 1px solid black;
}

.labels {
	overflow: hidden;
}

.labels div {
	text-align: left;
}

.new-transaction-button {
	text-align: right;
}