#content {
	height: 100%;
	border: 1px solid black;
	padding-bottom: 15px;
}

.transaction-list {
	height: 200px;
	border: 1px solid black;
	margin-bottom: 5px;
}

.transaction-list > div {
	height: 100%;
}

.transaction-list > div:not(:last-child) {
	border-right: 1px solid black;
}

ul {
	padding: 0;
}

ul li {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* .input-field > input:not(:last-child) {
	width: 40%;
}

.input-field > input:last-child {
	width: 20%;
} */

.input-field {
	display: inline-flex;
	justify-content: space-between;
}


.labels {
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.labels p {
	text-align: center;
}

.transaction {
	text-align: center;
}

.new-transaction-button {
	text-align: right;
}

.bottom-nav {
	display: flex;
	
}
